
<div class="container-fluid" ng-controller="EventsController" ng-init="initCreateEvent()">
	<div class="side-body">
		<div class="page-title">
			<span class="title">Create New Event</span>
		</div>
		<div class="row">
			<section style="background: #efefe9;">
				<div class="container" id="event_process_div">
					<div class="loader-container text-center color-white">
						<div>
							<img alt="" src="/resources/img/ball.gif" style="width:100px;height:100px;">
						</div>
						<div><h3 class="color-white">Creating your event...</h3></div>
					</div>
					<div class="row">
						<div class="board">
							<div class="board-inner">
								<ul class="nav nav-tabs-process" id="eventTabs">
									<div class="liner"></div>
									<li class="active step">
									<a href="#eventDetails"
										data-toggle="tab" title="Event Details"> <span
											class="round-tabs one"> <i class="icon fa fa-pencil"></i>
										</span>
									</a>
									</li>
									<li class="disabled step"><a href="#eventImage" 
										data-toggle="tab" title="Event Image"> <span
											class="round-tabs two"> <i class="icon fa fa-photo"></i>
										</span>
									</a>
									</li>
									<li class="disabled step"><a href="#eventReview"
										data-toggle="tab" title="Event Review"> <span
											class="round-tabs three"> <i class="icon fa fa-check"></i>
										</span>
									</a>
									</li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane  active" id="eventDetails">
									<h3 class="head text-center">Enter Event Details</h3>
									<form class="form-horizontal" id="event_details_form"
										name="event_details_form" role="form">
										<div class="row">
											<div class="col-md-12">
												<label for="eventTitle" class="text-primary">Event Title</label> 
												<input type="text"
													 class="form-control input-lg" ng-model="eventTitle"
													id="eventTitle" placeholder="Event Title" name="eventTitle">
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label for="eventDescription" class="text-primary">Event Description</label>
												<div class="col-md-12 eventDescription" ng-controller="EventsController">
													<div text-angular ta-toolbar="[['h1','h2','h3','h4','h5','p'],['bold','italics'],['insertLink'],['charcount']]"  ng-model="eventDetails"></div>
													<div ng-bind-html="eventDetails" id="event-details" style="display:none"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label for="eventLocation" class="text-primary">Event Location</label>
												 <input type="text"  name="eventLocation" id="eventLocation"
													class="form-control input-lg" ng-model="eventLocation"  googleplace id="eventLocation"
													placeholder="Location">
											</div>
										</div>
										<div class="row">
											<div class="col-md-4" ng-controller="DateTimeController as ctrl">
								   
								        		<div class="dateStartLabel">
								        			<label for="startDate" class="text-primary" >Event Start Date & Time</label>
								        		</div>	
								        		<input type="text" style="width:200px;"  id="startDate" name="startDate" class="form-control" datetime-picker="dd/MM/yyyy HH:mm a" ng-model="ctrl.dates.startDate" is-open="ctrl.open.startDate" />
								                <button type="button" class="btn btn-success dateButton" ng-click="ctrl.openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
								     
											</div>
											<div class="col-md-4" ng-controller="DateTimeController as ctrl">
										
									        	<div class="dateEndLabel">
									        		<label for="endDate"  class="text-primary">Event End Date & Time</label>
									        	</div>
									            <input type="text" style="width:200px;" required  class="form-control" id="endDate" name="endDate" datetime-picker="dd/MM/yyyy HH:mm a" ng-model="ctrl.dates.endDate" is-open="ctrl.open.endDate" />
									            <button type="button" class="btn btn-success dateButton" ng-click="ctrl.openCalendar($event, 'endDate')"><i class="fa fa-calendar"></i></button>
											</div>
											<div class="col-md-4">
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12"  ng-init="getAllTags()">
											<label for="tags" class="text-primary">Event Tags</label> 
												
												  <div ng-repeat= "tag in allTags" class="tags">
												  	<div class="col-md-3">
												  	<button type="button" class="btn btninactive" ng-click="toggleTag($event)" id="{{tag.name}}" desc="{{tag.description}}">{{tag.description}}</button>
												  	</div>
												  </div>
										     	
											</div>
										</div>
										
										<div class="row">
											 <div class="col-md-12" id="IsFreeButton">
											<label class="text-primary">Is Event Free</label>
												<button type="button" class="btn inactive" >YES</button>
												  <button type="button" class="btn active">NO</button>
											</div>
										</div>
										
										<div class="row" align="center">
											<fieldset>
												<button type="submit"  href="#eventImage" name="event_details_form"
													class="btn-eventnext btn btn-success" ng-click="validateForm()">
													Next <span style="margin-left: 10px;"
														class="icon fa fa-location-arrow"></span>
												</button>
											</fieldset>
										</div>
									</form>
								</div>
								<div class="tab-pane inactive" id="eventImage">
									<h3 class="head text-center">Cover Photo</h3>
									<form class="form-horizontal" id="event_images_form"
										name="event_images_form" role="form">
										<div class="row">
											<div class="col-md-12">
												<label for="companyName">Please select a event image</label>
												<input type="file" file-model="eventPic" name="eventPic"
													class="form-control" />
											</div>
											
										</div>
										<div class="row" align="center">
										<div class=" col-md-4  col-sm-3"></div>
											<div class="col-md-2 col-sm-3">
											<fieldset>
												<button type="button" class="previous-button btn btn-primary"><span style="margin-right: 10px;"
														class="icon fa fa-location-arrow fa-rotate-270"></span> Previous</button>
											</fieldset>
											</div>
											<div class="col-md-2 col-sm-3">
											<fieldset>
												<button  href="#eventReview" name="event_images_form"
													class="btn-eventnext btn btn-success">
													Next <span style="margin-left: 10px;"
														class="icon fa fa-location-arrow"></span>
												</button>
											</fieldset>
											</div>
										</div>
									</form>
								</div>
								
								<div class="tab-pane inactive" id="eventReview">

									<h3 class="head text-center">Please review the details</h3>
									<form class="form-horizontal" id="event_review_form"
										name="event_review_form" role="form">

										<div class="row">
											<div class="col-md-12">
												<label for="reviewEventTitle" class="text-primary">Event Title</label>
												<h3 id="reviewEventTitle">{{eventTitle}}</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label for="reviewEventDescription" class="text-primary">Event Description</label>
												<h3 id="reviewEventDescription">{{eventDetailsText}}</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label for="reviewEventLocation" class="text-primary">Location</label>
												<h3 id="reviewEventLocation">{{eventLocation}}</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="reviewEventStartDate" class="text-primary">Start Date</label>
												<h3 id="reviewEventStartDate"></h3>
											</div>
											<div class="col-md-6">
												<label for="reviewEventEndDate" class="text-primary">End Date</label>
												<h3 id="reviewEventEndDate"></h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label for="eventTags" class="text-primary">Event Tags</label>
												<div class="reviewTagNames">
												 </div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<label for="reviewFreeButton" class="text-primary">Is Event Free</label>
												<div class="reviewFreeButton">
												 </div>
											</div>
										</div>
										
										<div class="row" align="center">
										<div class=" col-md-4  col-sm-3"></div>
											<div class="col-md-2 col-sm-3">
											<fieldset>
												<button type="button" class="previous-button btn btn-primary btn-lg"><span style="margin-right: 10px;"
														class="icon fa fa-location-arrow fa-rotate-270"></span> Previous</button>
											</fieldset>
											</div>
											<div class="col-md-2 col-sm-3">
											<fieldset>
												<button  name="review_form"
													ng-click="createEvent()" class="btn btn-success btn-lg">
													Submit <span style="margin-left: 10px;"
														class="icon fa fa-location-arrow"></span>
												</button>
											</fieldset>
											</div>
										</div>
									</form>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<style>
.tags button{width:110px;}
.tags button.btninactive, #IsFreeButton button.inactive{background-color: #F0F0F0;
    border-color: #EAEAEA;}
.tags button.btnactive,#IsFreeButton button.active,.reviewTagNames button.btnactive,.reviewFreeButton button.btnactive{background-color: #337ab7;
    border-color: #337ab7;color:#fff}
  
   #startDate{display: inline-block;vertical-align: middle;width: 364px;}
   #endDate{display: inline-block;vertical-align: middle;width: 364px;}
    .dateInput{width:364px !important}
    .eventDescription{padding:0}
    .dateButton{margin-left:-5px}
    #IsFreeButton button,.reviewFreeButton button{width:70px;}
    #IsFreeButton button:nth-child(2){margin-left:10px}
    #IsFreeButton button:nth-child(3){margin-left:-4px}
    .reviewTagNames button{margin-right:10px}
    
</style>

<script type="text/javascript">
$( document ).ready(function() {
	$('.tags button').on('click', function(e) {
		if($(this).hasClass("btninactive")){
		   $(this).removeClass("btninactive").addClass("btnactive");
		}else if($(this).hasClass("btnactive")) {
			$(this).removeClass("btnactive").addClass("btninactive");
		}
	});
	
	$('#IsFreeButton button').on('click', function(e) {
		if($(this).text()=="NO"){
			   $(this).removeClass("inactive").addClass("active");
			   $(this).siblings("button").removeClass("active").addClass("inactive");
			}else if($(this).text()=="YES") {
				 $(this).removeClass("inactive").addClass("active");
				   $(this).siblings("button").removeClass("active").addClass("inactive");
			}
		});
	
	
	$('a[title]').tooltip(); 
	$('.btn-eventnext').on('click', function(e) {
		
				var formname = $(this).attr('name'); 
				var actived_nav = $('#eventTabs > li.active');
				var contentSection = $(".tab-pane.active");
				
				var inpObj = document.getElementById(formname);
				$('#'+formname).validate({
	    			rules: {
	    				eventTitle:{
	    					required: true,
	    					specialChar :true
	    				},
	    				eventLocation: {
			    			required: true
		    			},
		    			startDate:{
		    				required: true
		    			},
		    			endDate : {
		    				required: true
		    			},
		    			eventPic :{
		    				required: true
		    			}
	    			},
	    			messages: {
	    				eventTitle:{
	    					required: "Title cannot be blank !"
	    				},
	    				eventLocation: {
			    			required: "Location cannot be blank !"
		    			},
		    			startDate:{
		    				required: "Start Date cannot be blank !"
		    			},
		    			endDate : {
		    				required: "End Date cannot be blank !"
		    			},
		    			eventPic : {
		    				required: "Event pic is required !"
		    			}
	    			},
	    			submitHandler: function(form){
	    				
	    				/* Only works in Firefox/Chrome need polyfill for IE9, Safari. http://afarkas.github.io/webshim/demos/ */ 
	    				e.preventDefault();
	    				
	    				$('#eventTabs > li').removeClass("disabled");
	    				//if(tabname == "#details")
	    				//	tabIndex =1;
	    				actived_nav.next("li").addClass('active');
	    				actived_nav.removeClass('active');
	    				contentSection.removeClass("active").addClass("inactive");
	    				contentSection.next("div").removeClass("inactive").addClass("active");
	    			}
	   			 
				});
				
			}); 
	
	$(".previous-button").click(function(){
		var actived_nav = $('#eventTabs > li.active');
		var contentSection = $(".tab-pane.active");
		
		actived_nav.prev("li").addClass('active');
		actived_nav.removeClass('active');
		contentSection.removeClass("active").addClass("inactive");
		contentSection.prev("div").removeClass("inactive").addClass("active");
		
	});
	
	$('ul.nav-tabs-process li').on('click', function(e) {
		e.preventDefault();		
		}); 
	});
</script>