<style>

#search input{width:150px}
	#search button{
	margin-left:-5px;
	}
	.flat-blue .btn.btn-primary {
    background-color: #5bc0de;
    color: #FFF;
    border-color: #5bc0de;
}
  

      #search:hover input, #search input:focus {
            width: 250px;
           
            -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        }

/* Tabs panel */
.tabbable-panel {
  border:1px solid #CCC;
  padding:10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
  background-color: #fff;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}


.row > [class*="col-"] {
    margin-bottom: 0px;
}
.board {
    margin: 25px auto;}
    .table>tbody>tr>td{vertical-align:middle;}
    
    
</style>

<div class="container-fluid" ng-controller="EventsController" >
	<div class="side-body">
		<div class="page-title">
			<span class="title">My Events</span>
		</div>
		<div class="row">
			<section style="background: #efefe9;">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
						</div>
       					 <div class="col-md-4" id="search">
							<form class="navbar-form navbar-left" role="search">
  								<div class="form-group">
    								<input type="text" class="form-control"  ng-model="searchKeyword" placeholder="Search">
    								<button type="submit" class="btn btn-primary">Search</button>
 								 </div>
							</form>
					   	</div>
						 <div class="col-md-4" style="margin-top:8px;text-align:center;">
						 	<button type="submit" ng-click="initNewEvent()" class="btn btn-primary">Create Event</button>
						 </div>
					</div>
					<div class="row">
						<div class="board">
							
								<div class="tabbable-panel">
									<div class="tabbable-line">
										<ul class="nav nav-tabs" id="eventTab">
											<li class="active">
												<a href="tab_upcoming" data-toggle="tab">UPCOMING EVENTS </a>
											</li>
											<li>
												<a href="tab_past" data-toggle="tab">PAST EVENTS </a>
											</li>
										</ul>
								    <div class="tab-content" id="event_home">
								    <div class="loader-container text-center color-white">
										<div>
											<i class="fa fa-spinner fa-pulse fa-3x"></i>
										</div>
										<div>Loading...</div>
									</div>
								    <div class="tab-pane active" id="tab_upcoming" >
								    	<div class="row">
								    		<div class=" eventSection">
								    			<table st-table="myEventsData_upcoming" st-pipe="myevents_upcoming" class="table table-striped">
												    <thead>
												      <tr >
												        <th>Event Title</th>
												        <th>Start Date & Time</th>
												        <th>End Date & Time</th>
												        <th>Status</th>
												        <th></th>
												      </tr>
												    </thead>
												   <tbody ng-show="!isUpEventsLoading">
												      <tr ng-repeat= "event in myEventsData_upcoming">
												        <td>{{event.title}}</td>
												        <td>{{event.start_date}}</td>
												        <td>{{event.end_date}}</td>
												        <td>{{event.status}}</td>
												        <td><button type="button" ng-click="goToEventDetails(event.id)" class="btn btn-info">Details</button></td>
												      </tr>

												    </tbody>
												     <tbody ng-show="isUpEventsLoading">
														<tr>
															<td colspan="5" class="text-center">Loading ... </td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<td class="text-center" st-pagination="" st-items-by-page="10" colspan="5">
															</td>
														</tr>
													</tfoot>
												  </table>
								    		</div>
									    </div>
									   </div> 
									
										<div class="tab-pane" id="tab_past"  >
											<div class="row">
								    		<div class="eventSection">
								    			<table st-table="myEventsData_past" st-pipe="myevents_past" class="table table-striped">
												    <thead>
												      <tr>
												        <th>Event Title</th>
												        <th>Start Date & Time</th>
												        <th>End Date & Time</th>
												        <th>Status</th>
												        <th></th>
												      </tr>
												    </thead>
												  <tbody ng-show="!isPastEventsLoading">
												       <tr ng-repeat= "event in myEventsData_past">
												        <td>{{event.title}}</td>
												        <td>{{event.start_date}}</td>
												        <td>{{event.end_date}}</td>
												        <td>{{event.status}}</td>
												       <td><button type="button" ng-click="goToEventDetails(event.id)" class="btn btn-info">Details</button></td>
												      </tr>
												    </tbody>
												    <tbody ng-show="isPastEventsLoading">
														<tr>
															<td colspan="5" class="text-center">Loading ... </td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<td class="text-center" st-pagination="" st-items-by-page="10" colspan="5">
															</td>
														</tr>
													</tfoot>
												  </table>
								    		</div>
							
									    </div>
								
												</div>
						
								 </div>
								</div>
							</div>
							
						
					</div>
				</div>
					
				</div>
			</section>
		</div>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
$('#eventTab li').on('click', function(e) {
	
	var active_tab = $("#eventTab li.active a").attr("href"); 
	
		e.preventDefault();
		if(active_tab == "tab_upcoming"){
			$(this).removeClass("active");
			$(this).next().addClass("active");
			$(".tab-content ").find("#tab_upcoming").removeClass("active").addClass("inactive");
			$(".tab-content").find("#tab_past").removeClass("inactive").addClass("active");
		}else if(active_tab == "tab_past"){
			$(this).removeClass("active");
			$(this).prev().addClass("active");
			$(".tab-content").find("#tab_upcoming").removeClass("inactive").addClass("active");
			$(".tab-content").find("#tab_past").removeClass("active").addClass("inactive");
		}
	});
});
</script>