<style>
/* Tabs panel */
.tabbable-panel {
 
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
  background-color: #fff;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.tags button{width:110px;}

.tags button.btnactive,#IsFreeButton button.active,.reviewTagNames button.btnactive,.reviewFreeButton button.btnactive{background-color: #337ab7;
    border-color: #337ab7;color:#fff}
</style>
<div class="container-fluid" ng-controller="EventsController" >
	<div class="side-body">
		<div class="panel panel-default" id="pageContainer">
			<div class="loader-container text-center color-white">
				<div>
					<i class="fa fa-spinner fa-pulse fa-3x"></i>
				</div>
				<div>Please wait...</div>
			</div>
			<div class="fb-profile">
				<div class="container-fluid company-profile-img" ng-init="getEventDetails()">
					<div class="row">
						<div class="col-md-12">
							<img ng-cloak align="left" class="fb-image-lg" style="margin-top: 10px;"
								src="{{eventDetails.display_image.url}}" alt="{{eventDetails.title}}" />
						</div>
					</div>
					<div class="row"  align="left">
						<div class="col-md-10">
							<button type="submit" ng-hide="(!(eventDetails.status == 'APPROVED') || (eventDetails.status == 'LIVE'))"
								ng-click="makeLive(eventDetails.id)" id="makeLiveBtn" class="btn-next btn btn-success">
								Make Event Live</button>
						
							<button type="submit"
								ng-click="editEvent(eventDetails.id)" class="btn-next btn btn-primary">
								Edit Event</button>
								
							<button type="submit" id="cancelEventBtn" ng-hide="(eventDetails.status == 'PENDING_APPROVAL' || eventDetails.status == 'CANCELLED')"
							ng-click="cancelEvent(eventDetails.id)" class="btn-next btn btn-danger">
							Cancel Event</button>
						</div>
					</div>
				</div>
			
				<div class="panel panel-success">
			      <div class="panel-heading">Event Details</div>
			      <div class="panel-body">
			      	<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
									<div class="container" ng-init="getEventDetails()">
										<div class="row">
											<div class="col-md-6">
												<label for="title" class="text-primary">Title</label>
												<h4 id="title">{{eventDetails.title}}</h4>
											</div>
											<div class="col-md-6">
												<label for="status" class="text-primary">Status</label>
												<h4 id="status">{{eventDetails.status}}</h4>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="starts" class="text-primary">Starts</label>
												<h4 id="starts">{{eventDetails.start_date}}</h4>
											</div>
											<div class="col-md-6">
												<label for="ends" class="text-primary">Ends</label>
												<h4 id="ends">{{eventDetails.end_date}}</h4>
											</div>
										</div>
										<div class="row">
											<div class="col-md-10">
												<label for="details" class="text-primary">Details</label>
												<p id="details"></p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12" >
											<label for="tags" class="text-primary">Event Tags</label> 
												
												  <div ng-repeat= "tag in eventDetails.tags" class="tags">
												  	<div class="col-md-3">
												  	<button type="button" class="btn btnactive">{{tag.description}}</button>
												  	</div>
												  </div>
										     	
											</div>
										</div>
										<div class="row">
											<div class="col-md-10">
												<label for="location" class="text-primary">Venue</label>
												<h4 id="location">{{eventDetails.event_detail.location.name}}</h4>
											</div>
										</div>
									</div>
									
								
							</div>
						</div>
						
						
					</div>
			      </div>
			    </div>
			   
			     <div class="panel panel-success">
				      <div class="panel-heading">Statistics For This Event</div>
				      <div class="panel-body">
				      	<div class="container-fluid" ng-init="eventStats()">
				      		<div class="row">
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<blockquote class="quote-box-yellow">
										<p class="quotation-mark">{{statsCards.total_meetups}}</p>
										<hr class="hr-card">
										<div class="blog-post-actions">
											<p class="blog-post-bottom pull-left">Total Meetups
											</p>
										</div>
									</blockquote>
					
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<blockquote class="quote-box-green">
										<p class="quotation-mark">{{statsCards.total_reg_users}}</p>
										<hr class="hr-card">
										<div class="blog-post-actions">
											<p class="blog-post-bottom pull-left">Total Registered Users</p>
										</div>
									</blockquote>
					
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<blockquote class="quote-box-orange">
										<p class="quotation-mark">{{statsCards.total_int_users}}</p>
										<hr class="hr-card">
										<div class="blog-post-actions">
											<p class="blog-post-bottom pull-left">Interested Users</p>
										</div>
									</blockquote>
					
								</div>
							
								<div class="col-md-12">
									<div class="card">
										<div class="card-header">
											<div class="card-title">
												<div class="title">Event Daily Stats</div>
											</div>
										</div>
										<div id="dailyUsers" class="card-body no-padding loader">
											<div class="loader-container text-center color-white">
												<div>
													<i class="fa fa-spinner fa-pulse fa-3x"></i>
												</div>
												<div>Loading</div>
											</div>
											<div id="users-chart-div" style="overflow:auto" class="canvas-holder">
												<canvas id="users-chart" class="chart"></canvas>
											</div>
										</div>
									</div>
								</div>
								
							</div>
				      	</div>
				      </div>
			      </div>
			</div>
		</div>
	</div>
</div>
