<!DOCTYPE html>
<html ng-app="login">
<head>
    <title>SociallBox | Login</title>
    <link rel="icon" type="image/png" href="/resources/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/resources/css/login.css">
</head>
<body class="login-page">
    <div class="container login-container" ng-controller="AuthController">
    	<div class="row" ng-cloak ng-init="isCookieEnabled()">
    		<div class="col-md-6 col-md-offset-3" ng-show="!cookiesEnabled">
		    	<div  class="alert alert-danger">
				  <strong>Cookies Disabled!</strong> Please enable cookies in your browser for accessing SociallBox.
				</div>
			</div>
		</div>
        <div class="row">
        	<div class="col-md-6 col-md-offset-3">
				<div class="col-md-7 col-sm-12 col-xs-12 mImageScale" align="right"><img src="/resources/img/index/brandnamenlogo.png"></div>
				<div class="col-md-4 col-sm-12 col-xs-8 businessText businessTextLandScape"><h4 class="font-grey"> for business</h4></div>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a  class="active a-prevent-default" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a class="a-prevent-default" id="register-form-link">Sign Up</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row" id="login-div">
							<div class="loader-container text-center color-white">
								<div>
									<img alt="" src="/resources/img/ball.gif" style="width:100px;height:100px;">
								</div>
								<div><h3 class="color-white">Please wait...</h3></div>
							</div>
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" ng-model="loginEmail" name="emailId" id="emailId" tabindex="1" class="form-control input-lg" placeholder="Email Id">
									</div>
									<div class="form-group">
										<input type="password" ng-model="loginPass" name="password" id="password" tabindex="2" class="form-control input-lg" placeholder="Password">
									</div>
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3"  ng-if="cookiesEnabled">
												<input type="submit" ng-click="login()" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									
								</form>
								<form id="register-form"  method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" ng-model="username" name="username" id="username" tabindex="1" class="form-control input-lg" placeholder="Full Name" value="">
									</div>
									<div class="form-group">
										<input type="email" ng-model="email" name="emailId" id="emailId" tabindex="1" class="form-control input-lg" placeholder="Email Address" value="">
									</div>
									<div class="form-group" id="reg-pass-div">
										<input type="password" ng-model="password" name="password" id="password" tabindex="2" class="form-control input-lg" placeholder="Password">
									</div>
									<div class="form-group" id="reg-con-pass-div">
										<input type="password" ng-model="confirmPassword" name="confirmPassword" id="confirmPassword" tabindex="2" class="form-control input-lg" placeholder="Confirm Password">
									</div>
									<div  class="form-group" >
										<input type="checkbox" id="agreement" class="css-checkbox"/>
										<label for="agreement" name="checkbox2_lbl" class="css-label lite-red-check">I have read <a href="/terms" target="_blank">Terms & Conditions</a></label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3"  ng-if="cookiesEnabled">
												<input type="submit" disabled ng-click="register()" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-login" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
     <!-- jQuery library -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js"></script>
  	<script type="text/javascript" src='/resources/js/lib/ta/textAngular-sanitize.min.js'></script>
    <script type="text/javascript" src="/resources/js/lib/dialogs.min.js"></script>
    
    <script type="text/javascript" src="/resources/js/loginapp.js"></script>
    <script type="text/javascript" src="/resources/js/modules/index/controllers.js"></script>
    <script type="text/javascript" src="/resources/js/modules/auth/controllers.js"></script>
    <script type="text/javascript" src="/resources/js/modules/auth/services.js"></script>
    
    <!-- /.container -->
 	<script type="text/javascript">
	 	$( document ).ready(function() {
		    
		   $('#login-form-link').click(function(e) {
				$("#login-form").delay(100).fadeIn(100);
		 		$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#register-form-link').click(function(e) {
				$("#register-form").delay(100).fadeIn(100);
		 		$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			
			$('#agreement').change(function() {
		        if($(this).is(":checked")) {
		        	$('input[id="register-submit"]').prop('disabled', false);
		        }else{
		        	$('input[id="register-submit"]').prop('disabled', true);
		        }
		              
		    });
			
			$.validator.addMethod('matchPasswords', function (value, element, param) {
				var pass = $("#register-form input[name=password]").val();
				var confirmPass = $("#register-form input[name=confirmPassword]").val();
				if(pass != confirmPass){
					return false;
				}
				$("#reg-pass-div label[class='error']").hide();
				$("#reg-pass-div input[name=password]").removeClass('error');
				return true;
			}, 'Password and ConfirmPassword do not match!');
			
		});
 	</script>
</body>

</html>
