<div class="container-fluid" ng-controller="CompanyController">
	<div class="side-body">
		<div class="page-title">
			<span class="title">Create New Company Profile</span>
		</div>
		<div class="row">
			<section style="background: #efefe9;">
				<div class="container" id="company_process_div">
					<div class="loader-container text-center color-white">
						<div>
							<i class="fa fa-spinner fa-pulse fa-3x"></i>
						</div>
						<div>Creating Profile</div>
					</div>
					<div class="row">
						<div class="board">
							<div class="board-inner">
								<ul class="nav nav-tabs-process" id="myTab">
									<div class="liner"></div>
									<li class="active step">
									<a href="#details"
										data-toggle="tab" title="Details"> <span
											class="round-tabs one"> <i class="icon fa fa-pencil"></i>
										</span>
									</a>
									</li>
									<li class="disabled step"><a href="#images" 
										data-toggle="tab" title="Photo"> <span
											class="round-tabs two"> <i class="icon fa fa-photo"></i>
										</span>
									</a>
									</li>
									<li class="disabled step"><a href="#review"
										data-toggle="tab" title="Review"> <span
											class="round-tabs three"> <i class="icon fa fa-check"></i>
										</span>
									</a>
									</li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane  active" id="details">
									<h3 class="head text-center">Company Details</h3>
									<form class="form-horizontal" id="details_form"
										name="details_form" role="form">
										<div class="row">
											<div class="col-md-12">
												<label for="companyName" class="text-primary">Name</label> 
												<input type="text"
													required class="form-control" ng-model="companyName"
													id="companyName" placeholder="Name">
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="street" class="text-primary">Street</label>
												 <input type="text"
													required class="form-control" ng-model="street" id="street"
													placeholder="Street">
											</div>
											<div class="col-md-6">
												<label for="city" class="text-primary">City</label>
												 <input type="text" required
													class="form-control" ng-model="city" id="city"
													placeholder="City">
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="state" class="text-primary">State</label>
												 <input type="text" required
													class="form-control" ng-model="state" id="state"
													placeholder="State">
											</div>
											<div class="col-md-6">
												<label for="zip" class="text-primary">ZipCode</label>
												 <input type="text" required
													class="form-control" ng-model="zip" id="zip"
													placeholder="ZipCode">
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="country" class="text-primary">Country</label>
												 <input type="text"
													required class="form-control" ng-model="country"
													id="country" placeholder="Country">
											</div>
											<div class="col-md-6">
												<label for="phone1" class="text-primary">Phone 1</label>
												 <input type="text"
													required class="form-control" ng-model="phone1" id="phone1"
													placeholder="Phone1">
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="phone2" class="text-primary">Phone2</label> 
												<input type="text"
													class="form-control" ng-model="phone2" id="phone2"
													placeholder="Phone2">
											</div>
											<div class="col-md-6">
												<label for="phone3" class="text-primary">Phone 3</label>
												 <input type="text"
													class="form-control" ng-model="phone3" id="phone3"
													placeholder="Phone3">
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="email" class="text-primary">Email ID</label> 
												<input type="email"
													required class="form-control" ng-model="companyEmail"
													id="email" placeholder="Email ID">
											</div>
											<div class="col-md-6">
												<label for="website" class="text-primary">Website</label>
												 <input type="text"
													required class="form-control" ng-model="website"
													id="website" placeholder="Website">
											</div>
										</div>
										<div class="row" align="center">
											<fieldset>
												<button type="submit"   href="#images" name="details_form"
													class="btn-next btn btn-success">
													Next <span style="margin-left: 10px;"
														class="icon fa fa-location-arrow"></span>
												</button>
											</fieldset>
										</div>
									</form>
								</div>
								<div class="tab-pane inactive" id="images">
									<h3 class="head text-center">Cover Photo</h3>
									<form class="form-horizontal" id="images_form"
										name="profile_form" role="form">
										<div class="row">
											<div class="col-md-12">
												<label for="companyName">Please select a cover photo</label>
												<input type="file" file-model="coverPic"
													class="form-control" />
											</div>
										</div>
										<div class="row" align="center">
										<div class=" col-md-4  col-sm-3"></div>
											<div class="col-md-2 col-sm-3">
											<fieldset>
												<button type="button" class="previous-button btn btn-primary">Previous</button>
											</fieldset>
											</div>
											<div class="col-md-2 col-sm-3">
											<fieldset>
												<button  href="#review" name="images_form"
													class="btn-next btn btn-success">
													Next <span style="margin-left: 10px;"
														class="icon fa fa-location-arrow"></span>
												</button>
											</fieldset>
											</div>
										</div>
									</form>
								</div>
								<div class="tab-pane inactive" id="review">

									<h3 class="head text-center">Please review the details</h3>
									<form class="form-horizontal" id="review_form"
										name="review_form" role="form">

										<div class="row">
											<div class="col-md-12">
												<label for="companyName" class="text-primary">Name</label>
												<h3 id="companyName">{{companyName}}</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="street" class="text-primary">Street</label>
												<h3 id="street">{{street}}</h3>
											</div>
											<div class="col-md-6">
												<label for="city" class="text-primary">City</label>
												<h3 id="city">{{city}}</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="state" class="text-primary">State</label>
												<h3 id="state">{{state}}</h3>
											</div>
											<div class="col-md-6">
												<label for="zip" class="text-primary">ZipCode</label>
												<h3 id="zip">{{zip}}</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="country" class="text-primary">Country</label>
												<h3 id="country">{{country}}</h3>
											</div>
											<div class="col-md-6">
												<label for="phone1" class="text-primary">Phone 1</label>
												<h3 id="phone1">{{phone1}}</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="phone2" class="text-primary">Phone2</label>
												<h3 id="phone2">{{phone2}}</h3>
											</div>
											<div class="col-md-6">
												<label for="phone3" class="text-primary">Phone 3</label>
												<h3 id="phone3">{{phone3}}</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label for="email" class="text-primary">Email ID</label>
												<h3 id="email">{{companyEmail}}</h3>
											</div>
											<div class="col-md-6">
												<label for="website" class="text-primary">Website</label>
												<h3 id="website">{{website}}</h3>
											</div>
										</div>
										<div class="row" align="center">
											<fieldset>
												<button type="submit" name="review_form"
													ng-click="createCompany()" class="btn-next btn btn-success">
													Submit</button>
											</fieldset>
										</div>
									</form>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
	$('a[title]').tooltip(); 
	$('.btn-next').on('click', function(e) {
		
			var formname = $(this).attr('name'); 
			var actived_nav = $('#myTab > li.active');
			var contentSection = $(".tab-pane.active");
			
			var inpObj = document.getElementById(formname);
			if (inpObj.checkValidity()) { 
				
				/* Only works in Firefox/Chrome need polyfill for IE9, Safari. http://afarkas.github.io/webshim/demos/ */ 
				e.preventDefault();
				$('#myTab > li').removeClass("disabled");
				//if(tabname == "#details")
				//	tabIndex =1;
				actived_nav.next("li").addClass('active');
				actived_nav.removeClass('active');
				contentSection.removeClass("active").addClass("inactive");
				contentSection.next("div").removeClass("inactive").addClass("active");
				} 
			}); 
	$(".previous-button").click(function(){
		var actived_nav = $('#myTab > li.active');
		var contentSection = $(".tab-pane.active");
		
		actived_nav.prev("li").addClass('active');
		actived_nav.removeClass('active');
		contentSection.removeClass("active").addClass("inactive");
		contentSection.prev("div").removeClass("inactive").addClass("active");
		
	});
	
	$('ul.nav-tabs-process li').on('click', function(e) {
		e.preventDefault();		
		}); 
	});
</script>