<style>
.st-sort-ascent:before{
    content: '\25B2';
  }

  .st-sort-descent:before{
    content: '\25BC';
  }
</style>
<div class="container-fluid" ng-controller="AdminController">
	<div class="side-body">
		
          <div class="row">
            <div class="col-xs-12">
                <div class="card card-info" >
                    <div class="card-header">
                        <div class="card-title">
                        <div class="title">Pending Organizer Profiles</div>
                        </div>
                    </div>
                    <div class="card-body">
                    
                    	
                         <table st-table="pending_profiles" st-pipe="getPaginatedPendingProfiles" class="table table-striped">
                            <thead>
                                <tr>
                                	<th>Company Name
									</th>
									<th>Created
									</th>
									<th>Company Admin User
									</th>
									<th>Website
									</th>
									<th>Email Verified
									</th>
									<th>Contact No
									</th>
									<th>Status
									</th>
									<th>Details
									</th>
                                   	<th></th>
                                   	<th></th>
                                </tr>
                            </thead>
                             <tbody ng-show="!isPendingProfilesLoading">
                            
                                <tr ng-repeat="profile in pending_profiles">
                                    <td>{{profile.company_profile.name}}</td>
                                    <td>{{profile.create_dt | date:'EEE,d MMM yyyy hh:mm a'}}</td>
                                    <td>{{profile.name}}</td>
                                    <td>{{profile.company_profile.website}}</td>
                                     <td>
                                    	<span ng-if="profile.company_profile.email_verified" class="label label-primary">YES</span>
                                    	<span ng-if="!profile.company_profile.email_verified" class="label label-danger">NO</span>
                                    </td>
                                    <td>{{profile.company_profile.phone1}}</td>
                                    <td>{{profile.status}}</td>
                                    <td><button type="button" ng-click="goToCompanyDetails(profile.profile_id)" class="btn btn-info">Details</button></td>
                                    <td><button type="button" ng-click="approveProfile(profile.profile_id)" class="btn btn-success">Approve</button></td>
                                    <td><button type="button" ng-click="rejectProfile(profile.profile_id)" class="btn btn-danger">Reject</button></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isPendingProfilesLoading">
							<tr>
								<td colspan="4" class="text-center">Loading ... </td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td class="text-center" st-pagination="" st-items-by-page="10" colspan="9">
								</td>
							</tr>
							</tfoot>
                        </table>
                        
                   	 
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="card-title">
                        <div class="title">Events Pending For Approval</div>
                        </div>
                    </div>
                    <div class="card-body" >
                    	
                        <table st-table="pendingEvents" st-pipe="getPaginatedEvents" class="table table-striped">
                            <thead>
                                <tr>
                                	<th>Title
									</th>
									<th>Start Date
									</th>
									<th>End Date
									</th>
									<th>Organizer
									</th>
									<th>Details
									</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                               
                            </thead>
                            <tbody ng-show="!isEventsLoading">
                                <tr ng-repeat="event in pendingEvents">
                                
                                    <td>{{event.title}}</td>
                                    <td>{{event.start_date | date:'EEE,d MMM yyyy hh:mm a' }}</td>
                                    <td>{{event.end_date | date:'EEE,d MMM yyyy hh:mm a'}}</td>
                                    <td>{{event.event_detail.organizer.name}}</td>
                                    <td><button type="button" ng-click="goToEventDetails(event.id)" class="btn btn-info">Details</button></td>
                                    <td><button type="button" ng-click="approveEvent(event.id)" class="btn btn-success">Approve</button></td>
                                    <td><button type="button" ng-click="rejectEvent(event.id)" class="btn btn-danger">Reject</button></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isEventsLoading">
							<tr>
								<td colspan="4" class="text-center">Loading ... </td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td class="text-center" st-pagination="" st-items-by-page="10" colspan="7">
								</td>
							</tr>
							</tfoot>
                        </table>
                       
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>