<div class="container-fluid" ng-controller="AdminController" >
	<div class="side-body">
          <div class="row">
            <div class="col-xs-12">
                <div class="card card-info">
                 <div class="card-header">
                        <div class="card-title">
                        <div class="title">All Organizer Profiles</div>
                        </div>
                    </div>
                    <div class="card-body">
                    	
                        <table st-table="allProfiles" st-pipe="getPaginatedProfiles" class="table table-striped">
                            <thead>
                                <tr>
                                	<th>Company Name
									</th>
									<th >Created
									</th>
									<th>Company Admin User
									</th>
									<th>Website
									</th>
									<th>Contact No
									</th>
									<th>Status
									</th>
									<th>Details
									</th>
                                </tr>
                            </thead>
                           <tbody ng-show="!isProfilesLoading">
                                <tr ng-repeat="profile in allProfiles">
                                    <td>{{profile.company_profile.name}}</td>
                                    <td>{{profile.create_dt}}</td>
                                    <td>{{profile.name}}</td>
                                    <td>{{profile.company_profile.website}}</td>
                                    <td>{{profile.company_profile.phone1}}</td>
                                    <td>{{profile.status}}</td>
                                    <td><button type="button" ng-click="goToCompanyDetails(profile.profile_id)" class="btn btn-info">Details</button></td>
                                   
                                </tr>
                            </tbody>
                            <tbody ng-show="isProfilesLoading">
							<tr>
								<td colspan="7" class="text-center">Loading ... </td>
							</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="text-center" st-pagination="" st-items-by-page="10" colspan="7">
									</td>
								</tr>
							</tfoot>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
