<html>
	
    <body>
    	<div align='center'>
    		<img src='cid:sociallbox'>
    	</div>
    	<p>&nbsp;</p>
    	<p>Hello <b>${name}</b></p><br/>
		<p>Please reset your SociallBox password using below link.</p>
		<div align='center'>
			<a href="${link}" style="background-color: #FF5A5F;border: none;color: white;padding: 10px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;border-radius: 5px;">Reset Password</a>
		</div>
		<p>&nbsp;</p>
		<p>For queries or issues, please contact us: <a href="mailto:contact@sociallbox.com">contact@sociallbox.com</a></p>
		<p>Best Regards,</p>
		<p><b>SociallBox Team</b></p>	
    </body>
</html>